<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130911537111-nie1oi0go5hnqgjgsros29agb6nkrtgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130911537111-nie1oi0go5hnqgjgsros29agb6nkrtgh</string>
	<key>API_KEY</key>
	<string>AIzaSyBEMrcFraqcuC_Qu20r_IFm6224mzsVvro</string>
	<key>GCM_SENDER_ID</key>
	<string>130911537111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ricozApp</string>
	<key>PROJECT_ID</key>
	<string>firstricoz-b59a2</string>
	<key>STORAGE_BUCKET</key>
	<string>firstricoz-b59a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130911537111:ios:531c3da5c4e76b7a47ed92</string>
</dict>
</plist>